/* IMPORTING GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* DEFINE ROOT VARIABLES FOR CONSISTENT STYLING */
:root {
    --green: #27ae60;
    --black: #fff;
    --light-color: #ddd;
    --bg-color: #222;
    --border: 0.1rem solid rgba(0, 0, 0, 0.4);
    --box-shadow: 0.4rem 0.4rem 1rem #111, -0.4rem -0.4rem 1rem #333;
    --box-shadow-inset: 0.4rem 0.4rem 1rem #111 inset, -0.4rem -0.4rem 1rem #333 inset;
}

/* RESET DEFAULT STYLES FOR ALL ELEMENTS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

/* SET THE BASE FONT SIZE FOR BETTER RESPONSIVENESS */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* STYLE THE BODY WITH A BACKGROUND AND PADDING */
body {
    background: var(--bg-color);
    padding-left: 30rem;
}

/* APPLY ALTERNATE STYLES WHEN THE BODY HAS THE 'ACTIVE' CLASS */
body.active {
    --black: #444;
    --light-color: #777;
    --bg-color: #e6e6e6;
    --border: 0.1rem solid rgba(0, 0, 0, 0.2);
    --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
    --box-shadow-inset: 0.4rem 0.4rem 1rem #ccc inset, -0.4rem -0.4rem 1rem #fff inset;
}

/* SECTION STYLES */
section {
    min-height: 100vh;
    padding: 2rem;
}

/* BUTTON STYLES */
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3.5rem;
    background: none;
    color: var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.btn:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
}

/* HEADING STYLES */
.heading {
    text-align: center;
    color: var(--black);
    font-size: 5rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.heading span {
    color: var(--green);
    text-transform: uppercase;
}

/* HEADER STYLES */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 30rem;
    background: var(--bg-color);
    border-right: var(--border);
    padding: 2rem;
    text-align: center;
}

/* Styles for user information in the header */
.header .user img {
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    border: 1rem solid transparent;
    margin: 1rem 0;
    box-shadow: var(--box-shadow);
}

.header .user h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.header .user p {
    font-size: 1.5rem;
    color: var(--green);
}

/* Styles for navigation links in the header */
.header .navbar a {
    margin: 1.5rem 0;
    padding: 0.7rem;
    border-radius: 5rem;
    display: block;
    font-size: 2rem;
    box-shadow: var(--box-shadow);
    color: var(--black);
}

.header .navbar a:hover {
    box-shadow: var(--box-shadow-inset);
}

/* HEADER SECTION ENDS */


/* MENU BUTTON STARTS */

/* Styling for the menu button */
#menu-btn {
    position: fixed;
    top: 1.5rem; /* Position from the top */
    left: 2rem; /* Position from the left */
    z-index: 1000; /* Layering order */
    height: 5rem; /* Height of the button */
    width: 5rem; /* Width of the button */
    line-height: 5rem; /* Center content vertically */
    border-radius: 50%; /* Create a circular shape */
    font-size: 2rem; /* Font size */
    cursor: pointer; /* Cursor style on hover */
    box-shadow: var(--box-shadow); /* Shadow effect */
    text-align: center; /* Center text */
    color: var(--black); /* Text color */
    background: var(--bg-color); /* Background color */
    display: none; /* Initially hidden */
}

/* Styling for the menu button on hover */
#menu-btn:hover {
    color: var(--green); /* Text color on hover */
    box-shadow: var(--box-shadow-inset); /* Inset shadow on hover */
}

/* Styling for the theme toggler button */
#theme-toggler {
    position: fixed;
    top: 1.5rem; /* Position from the top */
    right: 2rem; /* Position from the right */
    z-index: 1000; /* Layering order */
    height: 5rem; /* Height of the button */
    width: 5rem; /* Width of the button */
    line-height: 5rem; /* Center content vertically */
    border-radius: 50%; /* Create a circular shape */
    font-size: 2rem; /* Font size */
    cursor: pointer; /* Cursor style on hover */
    box-shadow: var(--box-shadow); /* Shadow effect */
    text-align: center; /* Center text */
    color: var(--black); /* Text color */
    background: var(--bg-color); /* Background color */
}

/* Styling for the theme toggler button on hover */
#theme-toggler:hover {
    color: var(--green); /* Text color on hover */
    box-shadow: var(--box-shadow-inset); /* Inset shadow on hover */
}

/* HOME SECTION STARTS */

/* Styling for the 'home' section */
.home {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    flex-flow: column; /* Arrange items in a column */
    align-items: center; /* Center content vertically */
    text-align: center; /* Center text */
}

/* Styling for the content within the 'home' section */
.home .content h3 {
    font-size: 7rem; /* Font size for heading */
    color: var(--black); /* Text color */
    line-height: 1.1; /* Line height */
    text-transform: uppercase; /* Uppercase text */
}

.home .content p {
    font-size: 2rem; /* Font size for paragraph */
    color: var(--green); /* Text color */
    padding-bottom: 0.5rem; /* Spacing at the bottom */
}

/* Styling for the 'share' section */
.home .share {
    position: relative;
    top: 10rem; /* Position from the top */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: var(--box-shadow); /* Shadow effect */
    padding: 1rem; /* Padding around content */
}

/* Styling for social media icons within the 'share' section */
.home .share i {
    height: 5rem; /* Height of icon */
    width: 5rem; /* Width of icon */
    line-height: 5rem; /* Center content vertically */
    font-size: 2rem; /* Font size */
    color: var(--black); /* Text color */
    margin: 0 0.3rem; /* Margin around icons */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: var(--box-shadow); /* Shadow effect */
}

/* Styling for social media icons on hover within the 'share' section */
.home .share i:hover {
    box-shadow: var(--box-shadow-inset); /* Inset shadow on hover */
    color: var(--green); /* Text color on hover */
}
/* HOME SECTION ENDS */

/* ABOUT SECTION STARTS */

/* Styles for the row containing about section */
.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse; /* Reverse wrapping for responsive design */
    gap: 2rem;
}

/* Styles for the containers within the about section */
.about .row .box-container {
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

/* Styles for individual boxes within the container */
.about .row .box-container .box {
    flex: 1 1 18rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow); /* Box shadow for a subtle effect */
}

/* Styles for headings within the boxes */
.about .row .box-container .box h3 {
    font-size: 4rem;
    color: var(--black);
    line-height: 1.1;
}

/* Styles for paragraphs within the boxes */
.about .row .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 0.5rem 0;
}

/* Styles for the content column within the about section */
.about .row .content {
    flex: 1 1 40rem;
}

/* Styles for headings within the content column */
.about .row .content h3 {
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;
}

/* Styles for the span element within the headings */
.about .row .content h3 span {
    color: var(--green); /* A specific color for the span */
}

/* Styles for paragraphs within the content column */
.about .row .content p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

/* ABOUT SECTION ENDS */


/* SERVICES SECTION STARTS */

/* Styles for the container within the services section */
.services .box-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); /* Responsive grid layout */
}

/* Styles for individual boxes within the container */
.services .box-container .box {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

/* Styles for icon elements within the boxes */
.services .box-container .box i {
    font-size: 4rem;
    color: #fff; /* White color for icons */
    padding-bottom: 5rem;
}

/* Styles for headings within the boxes */
.services .box-container .box h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--black);
}

/* Styles for paragraphs within the boxes */
.services .box-container .box p {
    font-size: 1.4rem;
    color: var(--light-color);
    line-height: 1.8;
}

/* Styles for a decorative element before the boxes */
.services .box-container .box::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    background: var(--green); /* Green background for the circle */
    z-index: -1;
    clip-path: circle(9rem at 5% 0%); /* Clip path for a circular effect */
    transition: 0.3s linear; /* Smooth transition effect */
}

/* Styles for the hover effect on the circular element */
.services .box-container .box:hover::before {
    clip-path: circle(100%); /* Expands the circle on hover */
}

/* Styles for changing text color on hover */
.services .box-container .box:hover > * {
    color: #fff; /* White text color on hover */
}

/* SERVICES SECTION ENDS */


/* PORTFOLIO SECTION STARTS */

/* Styles for the container within the portfolio section */
.portfolio .box-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); /* Responsive grid layout */
}

/* Styles for individual boxes within the portfolio section */
.portfolio .box-container .box {
    height: 25rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow); /* Box shadow for a subtle effect */
    border: 1rem solid transparent;
}

/* Styles for images within the portfolio boxes */
.portfolio .box-container .box img {
    height: 100%; width: 100%;
    object-fit: cover; /* Maintain aspect ratio for images */
}

/* Styles for content overlay within the portfolio boxes */
.portfolio .box-container .box .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    background: var(--bg-color); /* Background color for the overlay */
    display: grid;
    place-items: center;
    transform: scale(0); /* Initial scale to hide content */
}

/* Hover effect to scale and reveal content */
.portfolio .box-container .box:hover .content {
    transform: scale(1); /* Scale to 100% on hover */
}

/* Styles for headings within the content overlay */
.portfolio .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--black);    
    text-transform: uppercase;
    transform: relative(-5rem); /* Initial position for animation */
    opacity: 0; /* Initial opacity to hide */
    transition-delay: 0.3s; /* Delay for smoother transition */
    text-align: center;
}

/* Hover effect to move heading and reveal */
.portfolio .box-container .box:hover .content h3 {
    transform: translateY(0.1rem); /* Move heading slightly */
    opacity: 1; /* Reveal with full opacity */
}

/* PORTFOLIO SECTION ENDS */


/* CONTACT SECTION STARTS */

/* Styles for the contact form */
.contact form {
    margin: 1rem auto;
    max-width: 70rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow); /* Box shadow for the form */
    padding: 2rem;
}

/* Styles for input boxes within the contact form */
.contact form .box {
    padding: 1rem 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    color: var(--black);
    margin: 0.7rem 0;
    box-shadow: var(--box-shadow); /* Box shadow for input boxes */
    text-transform: none;
    background: none;
}

/* Styles for the textarea in the contact form */
.contact form textarea {
    height: 15rem;
    resize: none; /* Disable textarea resizing */
}

/* CONTACT SECTION ENDS */


/* MEDIA QUERIES STARTS */

/* Media query for screens up to 991px width */
@media (max-width: 991px) {
    html {
        font-size: 55%; /* Adjust font size for smaller screens */
    }
    
    body {
        padding-left: 0;
    }
    
    .header {
        left: -110%; /* Move header off-screen */
    }

    /* Styles for active header */
    .header.active {
        left: 0%;
        transition: 0.4s linear; /* Smooth transition effect */
    }

    #menu-btn {
        display: initial; /* Display menu button */
    }
}

/* Media query for screens up to 450px width */
@media (max-width: 450px) {
    html {
        font-size: 50%; /* Further adjust font size for smaller screens */
    }
    
    .header {
        width: 100%; /* Full width header */
    }
    
}

/* Media query for screens up to 500px width */
@media (max-width: 500px) {
    .home .content h3 {
        font-size: 500%; /* Reduce font size by 500% for screens <= 500px */
    }
}

/* Media query for screens up to 320px width */
@media (max-width: 320px) {
    .home .content h3 {
        font-size: 400%; /* Reduce font size by 400% for screens <= 320px */
    }
}

/* MEDIA QUERIES ENDS */