/* IMPORTING GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* DEFINE ROOT VARIABLES FOR CONSISTENT STYLING */
:root {
    --green: #27ae60;
    --black: #fff;
    --light-color: #ddd;
    --bg-color: #222;
    --border: 0.1rem solid rgba(0, 0, 0, 0.4);
    --box-shadow: 0.4rem 0.4rem 1rem #111, -0.4rem -0.4rem 1rem #333;
    --box-shadow-inset: 0.4rem 0.4rem 1rem #111 inset, -0.4rem -0.4rem 1rem #333 inset;
}

/* RESET DEFAULT STYLES FOR ALL ELEMENTS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

/* SET THE BASE FONT SIZE FOR BETTER RESPONSIVENESS */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* STYLE THE BODY WITH A BACKGROUND AND PADDING */
body {
    background: var(--bg-color);
    padding-left: 30rem;
}

/* APPLY ALTERNATE STYLES WHEN THE BODY HAS THE 'ACTIVE' CLASS */
body.active {
    --black: #444;
    --light-color: #777;
    --bg-color: #e6e6e6;
    --border: 0.1rem solid rgba(0, 0, 0, 0.2);
    --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
    --box-shadow-inset: 0.4rem 0.4rem 1rem #ccc inset, -0.4rem -0.4rem 1rem #fff inset;
}

/* SECTION STYLES */
section {
    min-height: 100vh;
    padding: 2rem;
}

/* BUTTON STYLES */
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3.5rem;
    background: none;
    color: var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.btn:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
}

/* HEADING STYLES */
.heading {
    text-align: center;
    color: var(--black);
    font-size: 5rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.heading span {
    color: var(--green);
    text-transform: uppercase;
}

/* HEADER STYLES */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 30rem;
    background: var(--bg-color);
    border-right: var(--border);
    padding: 2rem;
    text-align: center;
}

/* STYLES FOR USER INFORMATION IN THE HEADER */
.header .user img {
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    border: 1rem solid transparent;
    margin: 1rem 0;
    box-shadow: var(--box-shadow);
}

.header .user h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.header .user p {
    font-size: 1.5rem;
    color: var(--green);
}

/* STYLES FOR NAVIGATION LINKS IN THE HEADER */
.header .navbar a {
    margin: 1.5rem 0;
    padding: 0.7rem;
    border-radius: 5rem;
    display: block;
    font-size: 2rem;
    box-shadow: var(--box-shadow);
    color: var(--black);
}

.header .navbar a:hover {
    box-shadow: var(--box-shadow-inset);
}

/* STYLING FOR THE MENU BUTTON */
#menu-btn {
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    background: var(--bg-color);
    display: none;
}

#menu-btn:hover {
    color: var(--green);
    box-shadow: var(--box-shadow-inset);
}

#theme-toggler {
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    background: var(--bg-color);
}

#theme-toggler:hover {
    color: var(--green);
    box-shadow: var(--box-shadow-inset);
}

/* HOME SECTION */
.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.home .content h3 {
    font-size: 7rem;
    color: var(--black);
    line-height: 1.1;
    text-transform: uppercase;
}

.home .content p {
    font-size: 2rem;
    color: var(--green);
    padding-bottom: 0.5rem;
}

.home .share {
    position: relative;
    top: 10rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
}

.home .share i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
    margin: 0 0.3rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.home .share i:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
}

/* STYLES FOR THE ROW CONTAINING ABOUT SECTION */
.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;
}

/* STYLES FOR THE CONTAINERS WITHIN THE ABOUT SECTION */
.about .row .box-container {
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

/* STYLES FOR INDIVIDUAL BOXES WITHIN THE CONTAINER */
.about .row .box-container .box {
    flex: 1 1 18rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

/* STYLES FOR HEADINGS WITHIN THE BOXES */
.about .row .box-container .box h3 {
    font-size: 4rem;
    color: var(--black);
    line-height: 1.1;
}

/* STYLES FOR PARAGRAPHS WITHIN THE BOXES */
.about .row .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 0.5rem 0;
}

/* STYLES FOR THE CONTENT COLUMN WITHIN THE ABOUT SECTION */
.about .row .content {
    flex: 1 1 40rem;
}

/* STYLES FOR HEADINGS WITHIN THE CONTENT COLUMN */
.about .row .content h3 {
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;
}

/* STYLES FOR THE SPAN ELEMENT WITHIN THE HEADINGS */
.about .row .content h3 span {
    color: var(--green);
}

/* STYLES FOR PARAGRAPHS WITHIN THE CONTENT COLUMN */
.about .row .content p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

/* STYLES FOR THE CONTAINER WITHIN THE SERVICES SECTION */
.services .box-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}

/* STYLES FOR INDIVIDUAL BOXES WITHIN THE CONTAINER */
.services .box-container .box {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

/* STYLES FOR ICON ELEMENTS WITHIN THE BOXES */
.services .box-container .box i {
    font-size: 4rem;
    color: #fff;
    padding-bottom: 5rem;
}

/* STYLES FOR HEADINGS WITHIN THE BOXES */
.services .box-container .box h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--black);
}

/* STYLES FOR PARAGRAPHS WITHIN THE BOXES */
.services .box-container .box p {
    font-size: 1.4rem;
    color: var(--light-color);
    line-height: 1.8;
}

/* STYLES FOR A DECORATIVE ELEMENT BEFORE THE BOXES */
.services .box-container .box::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    background: var(--green);
    z-index: -1;
    clip-path: circle(9rem at 5% 0%);
    transition: 0.3s linear;
}

.services .box-container .box:hover::before {
    clip-path: circle(100%);
}

.services .box-container .box:hover > * {
    color: #fff;
}

/* STYLES FOR THE CONTAINER WITHIN THE PORTFOLIO SECTION */
.portfolio .box-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
}

/* STYLES FOR INDIVIDUAL BOXES WITHIN THE PORTFOLIO SECTION */
.portfolio .box-container .box {
    height: 25rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    border: 1rem solid transparent;
}

.portfolio .box-container .box img {
    height: 100%; width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box .content {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    background: var(--bg-color);
    display: grid;
    place-items: center;
    transform: scale(0);
}

.portfolio .box-container .box:hover .content {
    transform: scale(1);
}

.portfolio .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--black);    
    text-transform: uppercase;
    transform: relative(-5rem);
    opacity: 0;
    transition-delay: 0.3s;
    text-align: center;
}

.portfolio .box-container .box:hover .content h3 {
    transform: translateY(0.1rem);
    opacity: 1;
}

/* STYLES FOR THE CONTACT FORM */
.contact form {
    margin: 1rem auto;
    max-width: 70rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

.contact form .box {
    padding: 1rem 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    color: var(--black);
    margin: 0.7rem 0;
    box-shadow: var(--box-shadow);
    text-transform: none;
    background: none;
}

.contact form textarea {
    height: 15rem;
    resize: none;
}

/* RESPONSIVE STYLING */
/* MEDIA QUERY FOR SCREENS UP TO 991PX WIDTH */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    body {
        padding-left: 0;
    }

    .header {
        left: -110%;
    }

    .header.active {
        left: 0%;
        transition: 0.4s linear;
    }

    #menu-btn {
        display: initial;
    }
}

/* MEDIA QUERY FOR SCREENS UP TO 450PX WIDTH */
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .header {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .content h3 {
        font-size: 500%;
    }
}

@media (max-width: 320px) {
    .home .content h3 {
        font-size: 400%;
    }
}
